<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RADS.DAL.Properties.Settings.BancoDev" connectionString="Data Source=RADS01-NB\RADSSQL;Initial Catalog=RADS;Persist Security Info=True;User ID=sa;Password=Cr@260322;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>